           
.bgcolor{
    background-color: #e6dafe ;
}
.primaryColor{
    color: #411a9e;
}
.icons_styling{
    border-radius: 25px;
    background-color: #4c7fc2;

    padding: 12px 15px 14px 15px;
}

 .navbar-toggler-icon{
    border: 1px solid #411a9e !important;
    border-radius: 6px;
 }