.bgColor2 {
  background-color: #f2f2f2;
}
.bgColor3 {
  background-color: #ffffff;
}
.heading {
  /* z-index: -1; */
  border-radius: 15px;
}
.questionsSection {
  border-radius: 15px !important;
  /* border: 2px solid red; */
  margin-right: 20px;
  background-color: #ece8ff;
}
.profileQuestionBgColor {
  background-color: #ece8ff;
}
.questionDot {
  border-radius: 180px;
  width: 12px;
  height: 12px;
  background-color: #411a9e;
}
.phoneNumberInput {
  padding: 10px 0;
}
#react-select-3-listbox > div {
  max-height: 150px;
}
#react-select-3-listbox > div::-webkit-scrollbar {
  display: none;
}
.phoneNumberInput input {
  outline: none !important;
  border: none !important;
}
.selectOption div {
  color: black !important;
}
.questionDot2 {
  border-radius: 180px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.icons_styling2 {
  background-color: #411a9e;
  border-radius: 9px !important;
  display: inline;
  padding: 0px 14px 8px 14px !important;
}
.profileCard {
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 8px 5px #dad9eb, -7px 4px 10px #dad9eb, 10px 8px 15px #dad9eb;
}

.completionBar {
  background-color: #e6dafe;
  height: 15px;
  border-radius: 30px;
}
.primaryColor2 {
  background-color: #411a9e;
  height: 15px;
  border-radius: 30px;
}
.InterestCardbg {
  background-color: #796ebd;
  /* border-radius: 20px; */
}
.InterestCard {
  border-radius: 10px;
  background-color: #796ebd;
}
.addBtn {
  background-color: #ece8ff;
  border-radius: 4px;
}
.actionBtn1 {
  /* padding: 10px 30px; */
  background-color: #625aca;
  border: none;
  padding: 8px 8%;
}
.actionBtn2 {
  /* padding: 10px 30px; */
  background-color: #ffc728;
  border: none;
  color: #625aca;
  padding: 8px 8%;
}

@media screen and (max-width: 769px) {
  .rightSideDiv {
    flex-wrap: wrap !important;
  }
}
